/* navbarStyle.css */

.navigation {
  background-color: #393737;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

.navigation li {
  margin: 0 20px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #007bff; /* Change to your preferred hover color */
}
